---
import HomeLayout from "~/layouts/HomeLayout.astro";
import Contact from "~/components/Contact";
import { Config } from "~/config";
---

<HomeLayout
  title="友链"
  description="感谢认识他们"
  file=""
  url=""
  headings={[]}
  frontmatter={{
    file: "",
    url: undefined,
    title: "友链",
    description: "感谢认识他们",
  }}
  rawContent={() => ""}
  compiledContent={() => Promise.resolve("")}
>
  <h1>友链</h1>
  <p>在这里我遇见了新朋友</p>

  <div class="gap-4 flex flex-wrap">
    {
      Config.partnerLinks.map((link) => {
        return (
          <a href={link.url} class="flex gap-2 link link-info">
            <div class="avatar">
              <div class="ring-primary ring-offset-base-100 w-9 rounded-full ring-2 ring-offset-2 relative bg-accent/10">
                <div style={
                  `background-image: url(${link.avatar}); background-size: cover; background-position: center; width: 100%; height: 100%; border-radius: 50%;`
                }></div>
                <span class="top-1/2 absolute left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 text-base-content font-bold">{link.name.charAt(0)}</span>
              </div>
            </div>
            <span>{link.name}</span>
          </a>
        );
      })
    }
  </div>
  <div class="w-full pt-40">
    <Contact client:visible />
  </div>
</HomeLayout>
