@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
/* @plugin "tailwindcss-animate"; */
/* @plugin "tailwindcss-typography" */


/* 在主题切换时禁用过渡效果 */
.no-transition,
.no-transition *,
.no-transition *::before,
.no-transition *::after {
  transition: none !important;
  animation: none !important;
  /* 确保在过渡期间不会有闪烁 */
  -webkit-transition: none !important;
  backface-visibility: hidden !important;
  will-change: auto !important;
}
