---
import BlogLayout from "~/layouts/BlogLayout.astro";
import { Config } from "~/config";
import { processMenu } from "~/utils/list";
import { groupByArray, replaceSlash } from "~/utils/common";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

/**
 * 注册SSG URL
 */
export function getStaticPaths() {
  return processMenu(Config.menus, "", "blog");
}

const allBlogPosts = await getCollection("posts");
const posts = allBlogPosts
  .map((item) => ({
    ...item,
    ...item.data,
    id: replaceSlash(item.id),
    menuKey: item.id.split("/")[0],
    createDate: new Date(item.data.pubDate).getTime(),
    pubDate: dayjs(item.data.pubDate).year(),
  }))
  .filter((v) => !v.draft);

const { parent, sub } = Astro.params;
let currentPostList =
  groupByArray(posts, "menuKey").find((item) => item.key === sub)?.value || [];
currentPostList = currentPostList.sort((a, b) => b.createDate - a.createDate);
const groupedByYear = groupByArray(currentPostList, "pubDate");
---

<BlogLayout parent={parent as string} sub={sub as string}>
  <div class="grid grid-cols-1 gap-4 space-y-28 py-20">
    {
      !groupedByYear.length ? (
        <div>还没有任何文章哦</div>
      ) : (
        groupedByYear.map(({ key, value: posts }) => (
          <div class="relative flex">
            <div class="text-stroke-2 absolute -left-6 -top-16 select-none text-9xl font-bold text-default-100">
              {dayjs(key).format("YYYY")}
            </div>
            <div class="flex w-full flex-col space-y-8 z-10">
              {posts.map(({ id, data: { title, pubDate } }) => (
                <a
                  class="text-2xl text-default-600 cursor-pointer hover:text-focus no-underline transition-colors delay-75"
                  href={`/post/${id}/`}
                  transition:name={`post-index-id-${id}`}
                  title={title}
                  data-astro-prefetch
                >
                  {title}
                  <span class="ml-2 text-xl text-default-400">
                    {dayjs(pubDate).format("MM-DD")}
                  </span>
                </a>
              ))}
            </div>
          </div>
        ))
      )
    }
  </div>
</BlogLayout>
