---
import Noise from "~/components/Noise";
import HomeLayout from "~/layouts/HomeLayout.astro";
---

<HomeLayout
  title="你迷路喽"
  description="你迷路喽"
  file=""
  url=""
  headings={[]}
  frontmatter={{
    file: "",
    url: undefined,
    title: "你迷路喽",
    description: "你迷路喽",
  }}
  rawContent={() => ""}
  compiledContent={() => Promise.resolve("")}
>
  <Noise
    client:visible
    patternSize={500}
    patternScaleX={5}
    patternScaleY={5}
    patternRefreshInterval={2}
    patternAlpha={25}
  />
  <div class="text-6xl text-center font-bold text-default-200">
    Opts?! 你迷路喽
  </div>
</HomeLayout>
