---
const copyright = "CC BY-NC-SA 4.0";
import { Config } from "~/config";
const copyrightUrl = "https://creativecommons.org/licenses/by-nc-sa/4.0/";
---

<footer class="footer footer-center text-base-content p-4">
  <aside>
    <p>
      <a class="link" href={copyrightUrl}>{copyright}</a> © {
        new Date().getFullYear()
      } - All right reserved by {Config.base.title}
    </p>
  </aside>
</footer>
