---
import HomeLayout from "~/layouts/HomeLayout.astro";
import UICard from "~/components/Card";
import { Config } from "~/config";
---

<HomeLayout
  title="Projects"
  description="我的作品"
  file=""
  url=""
  headings={[]}
  frontmatter={{
    file: "",
    url: undefined,
    title: "Projects",
    description: "我的作品",
  }}
  rawContent={() => ""}
  compiledContent={() => Promise.resolve("")}
>
  <h1>Projects</h1>
  <p>我的作品</p>
  <div class="gap-2 grid grid-cols-2 grid-rows-2">
    {
      Config.samples.map((item) => {
        return (
          <UICard
            url={item.url}
            client:visible
            title={item.title}
            subtitle={item.subtitle}
            image={item.image}
          />
        );
      })
    }
  </div>
</HomeLayout>
