---
import { ClientRouter } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
  snapshot?: string;
  path?: string;
  pubDate?: string;
}
import HeadTag from "~/components/HeadTag.astro";
import RiverBackground from "~/components/RiverBackground";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import Navbar from "~/components/Navbar.astro";

const isDev = process.env.NODE_ENV === "development";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta content="rgb(33, 39, 55)" name="theme-color" />
    <meta name="generator" content={Astro.generator} />
    <HeadTag {...Astro.props} />
    <SpeedInsights />
    <Analytics debug={isDev} />
    <ClientRouter />
    <script is:inline>
      (function () {
        const storedTheme = window.localStorage.getItem("theme") ?? "auto";
        let presetTheme;
        if (storedTheme === "auto") {
          presetTheme = window.matchMedia("(prefers-color-scheme: dark)")
            .matches
            ? "dark"
            : "light";
        } else {
          presetTheme = storedTheme;
        }
        if (presetTheme === "dark") {
          document.documentElement.classList.add("dark");
          document.documentElement.style.colorScheme = "dark";
        } else {
          document.documentElement.classList.remove("dark");
          document.documentElement.style.colorScheme = "light";
        }
      })();
    </script>
  </head>
  <body>
    <RiverBackground client:only="react" />
    <Navbar />
    <section class="flex flex-col h-screen">
      <slot />
    </section>
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin-right: calc(100vw - 100%);
  }
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  ::view-transition-old(root) {
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 9999;
  }
  .dark::view-transition-old(root) {
    z-index: 9999;
  }
  .dark::view-transition-new(root) {
    z-index: 1;
  }

  @font-face {
    font-family: "smiley-sans";
    src: url("/scripts/fonts/SmileySans-Oblique.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @keyframes slide-in {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  :target {
    padding-top: 20px;
  }
  @keyframes slide-enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .slide-enter-content > * {
    --stagger: 0;
    --delay: 150ms;
    --start: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }

  .slide-enter-content > *:nth-child(1) {
    --stagger: 1;
  }
  .slide-enter-content > *:nth-child(2) {
    --stagger: 2;
  }
  .slide-enter-content > *:nth-child(3) {
    --stagger: 3;
  }
  .slide-enter-content > *:nth-child(4) {
    --stagger: 4;
  }
  .slide-enter-content > *:nth-child(5) {
    --stagger: 5;
  }
  .slide-enter-content > *:nth-child(6) {
    --stagger: 6;
  }
  .slide-enter-content > *:nth-child(7) {
    --stagger: 7;
  }
  .slide-enter-content > *:nth-child(8) {
    --stagger: 8;
  }
  .slide-enter-content > *:nth-child(9) {
    --stagger: 9;
  }
  .slide-enter-content > *:nth-child(10) {
    --stagger: 10;
  }
  .slide-enter-content > *:nth-child(11) {
    --stagger: 11;
  }
  .slide-enter-content > *:nth-child(12) {
    --stagger: 12;
  }
  .slide-enter-content > *:nth-child(13) {
    --stagger: 13;
  }
  .slide-enter-content > *:nth-child(14) {
    --stagger: 14;
  }
  .slide-enter-content > *:nth-child(15) {
    --stagger: 15;
  }
  .slide-enter-content > *:nth-child(16) {
    --stagger: 16;
  }
  .slide-enter-content > *:nth-child(17) {
    --stagger: 17;
  }
  .slide-enter-content > *:nth-child(18) {
    --stagger: 18;
  }
  .slide-enter-content > *:nth-child(19) {
    --stagger: 19;
  }
  .slide-enter-content > *:nth-child(20) {
    --stagger: 20;
  }
</style>
