---
import Prose from "~/components/Prose.astro";
import type { MarkdownLayoutProps } from "astro";
import BaseLayout from "./BaseLayout.astro";
import { animation } from "~/utils/common";

type Props = MarkdownLayoutProps<{
  // 在这里定义 frontmatter 属性
  title: string;
  description: string;
}> & {
  title: string;
  description: string;
};

const { frontmatter, title, description } = Astro.props;
---

<BaseLayout
  title={title || frontmatter.title}
  description={description || frontmatter.description}
>
  <main
    class="px-6 md:px-7 w-full flex-1 py-6 md:py-28"
    transition:animate={animation}
  >
    <Prose>
      <slot />
    </Prose>
  </main>
</BaseLayout>
